include LICENSE requirements.txt VERSION README.md MANIFEST.in Makefile .travis.yml .gitignore .gitkeep setup.py test-requirements.txt
recursive-include newslynx LICENSE requirements.txt VERSION README.md MANIFEST.in Makefile .travis.yml .gitignore .gitkeep setup.py
recursive-include newslynx *.yaml *.sql *.html *.txt
recursive-include newslynx/sc/template *.py
recursive-include migrations *.ini *.py *.mako
global-exclude *.pyc .DS_Store